td, th {
  border: 2px solid black;
  padding: 25px;

}

.title {
  color: blue;
}

.button {
  font-weight: bold;
}

.disclaimers {
  font-weight: bold;
}

.disclaimer {
  font-size: 13px;
  font-style: italic;
}