td, th {
  border: 2px solid black;
  padding: 60px;
}

.title {
  color: blue;
}

.button {
  font-weight: bold;
}

.disclaimers {
  font-weight: bold;
}

.disclaimer {
  font-size: 13px;
  font-style: italic;
}

.win {
  font-size: 13px;
  font-weight: bold;
}

#countOne {
  font-size: 10px;
  font-weight: bold;
}

#countTwo {
  font-size: 10px;
  font-weight: bold;
}

