.cell {
  height: 70px;
  width: 70px;
  background-color: blue;
}

.message {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  position: fixed;
  top: 1em;
  right: 15em;
}

.button {
  padding: 15px;
}

.white {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 35px;
}

.red {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 35px;
}

.black {
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 35px;
}